* {
	margin: 0;
	padding: 0;
}



.mainContainer {
	width: 1000px;
	background-color: brown;
	margin: auto;
}

header .userNav {
	background-color: lightblue;
}

header .subContainer {
	background-color: #b2b2b2;
	min-height: 70px;
}

/*Upper right each page either have .userButton or .welcome*/
.userButton {
	position: absolute;
	top: 0px;
	right: 10px;
}

.userPopUp {
	display: none;
}

.contentContainer {
	background-color: yellow;
}

/*.welcome {
	position: absolute;
	top: 0px;
	right: 10px;
}*/